#block-node-link-report .messages {
  padding: 5px 20px 5px 35px;
}

#block-node-link-report a {
  word-break: break-all;
}

#block-node-link-report .node-link-report-node-id {
  text-align: right;
  font-style: italic;
  font-size: smaller;
}

#block-node-link-report .messages_item {
  padding-bottom: 1em;
}

#block-node-link-report .node-link-report-508-guidance {
  padding-top: 1em;
}

#block-node-link-report summary {
  cursor: pointer;
  padding: 10px, 0;
  box-shadow: inset 0px 0px 0px 0px rgba(100, 100, 100, 0);
}

#block-node-link-report summary > h3 {
  display: inline;
}

#block-node-link-report summary:hover,
#block-node-link-report summary:focus {
  box-shadow: inset 0px 0px 800px 800px rgba(100, 100, 100, .1);
}
