<p> Here are a variety of links to test with.</p>
<p><a href="https://gooorgggol.com">I am the text of a broken link</a></p>

<p><a href="https://google.com">I am a redirected link</a></p>

<p><a href="/history/index.asp">I am a link to non-drupal page</a></p>

<p>The rain in spain falls down like everywhere else.</p>

<p><a>??</a>Sometimes we have a link with no href AND no ID. </p>
<p><a id="thing">-</a> I have a character anchor no href, but has an id</p>

<p>Sometimes our tiny links are just too small for our own good.<a href="http://google.com">$</a></p>

<p><a href="http://google.com/high">4&nbsp;&nbsp;&nbsp;!</a>Why on Earth would we have a link with so many non breaking spaces?</p>
<p><a href="somewhere.html"><img src="/modules/contrib/admin_toolbar/admin_toolbar_tools/misc/icons/ffffff/drupal-8-logo.svg"></a></p>
<p><a href="somewhere.html"><img src="/modules/contrib/admin_toolbar/admin_toolbar_tools/misc/icons/ffffff/drupal-8-logo.svg" alt=""></a></p>
<p><a href="somewhere.html"><img src="/modules/contrib/admin_toolbar/admin_toolbar_tools/misc/icons/ffffff/drupal-8-logo.svg"alt="drupal8 image"></a></p>
<p><a href="https://google.com/" aria-label="I am legitimate"></a>&nbsp;</p>
<a href="https://google.com/" ><p>Some legit anchor text in a p tag.</p></a>
<p><a href="">empty href</a>&nbsp;</p>
